.active{
  position: absolute;
  height: 32px;
  width: 32px;
  background: url(../../../../public/assets/images/FavActive.png) no-repeat;
  margin: 8px;
 }

.inactive {
  position: absolute;
  height: 32px;
  width: 32px;
  background: url(../../../../public/assets/images/FavInactive.png) no-repeat;
  margin: 8px;
 }

 .favorWrap {
  display: flex;
  justify-content: end;
  width: 150px;
  height: 150px;
  cursor: pointer;
 }

 .description {
  margin-top: 10px;
  font-size: 18px;
  font-weight: 400;
 }

 .tittle {
  font-size: 14px;  
  line-height: 150%;
  color: #787878;
  font-weight: 400;
}