@import '../../../styles/mixins';

.open {
  @include liMix;
  font-size: 18px;
  font-weight: 400;
}

.loaderWrap{
  @include loaderWrap;
  height: 794px;
}

.close {
  @include liMix;
  font-size: 18px;
  font-weight: 400;
  background-image: url(../../../../public/assets/images/Close.png);
}
