.wrap {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
  background-color: rgba($color: #000000, $alpha: 0.5);
}

.img {
  width: 600px;
  height: 600px;
}

.close {
  width: 24px;
  height: 24px;
  position: absolute;
  top: 0;
  right: 0;
  margin: 32px 40px;
  background-image: url(../../../public/assets/images/Close_modal.png);
}